html {
    scroll-behavior:smooth;
  }
body{
    background: linear-gradient(197deg, #252525, #3e3e3e,#545454);
    color: white;
    font-family: sans-serif;
}
.container-nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
nav{
    width: 100%;
    padding: 15px;
}
.navbar-brand{
    float: left;
}
.navbar-brand .border{
    height: 33px;
    width: 35px;
    background-color: #214cc4;
    transform: rotate(-27deg);
}
.navbar-brand .logo{
    color: white;
    position: absolute;
    top: 17px;
    left: 14px;
    padding: 4px;
}
nav ul{
    float: right;
    list-style: none;
    padding: 0;
    display: flex;
}
nav ul li{
    display: inline-block;
    text-decoration: none;
}
hr{
    background-color: rgb(145, 145, 145);
}
/* START HEADER */
.my-info{
    height: 200px;
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 450px;
}
.color-overlay{
    width: 100%;
    height:100%;
    background: rgb(61, 61, 61);
    opacity: 0.7;
    z-index: 0;
}
header .container{
    position: absolute;
    left: 14%;
    top: 18%;
    text-align: center;
    z-index: 3;
    color: white;
}
header .container img{
    border-radius: 50%;
}
header .container h1,
header .container h4{
    line-height: 1.5;
}
/* END HEADER */

/*Start Main*/

/*START Main- Breif*/
main .breif{
    margin-top: 50px;
}
main .breif p{
    font-size: 25px;
    line-height: 1.5;
    text-align: center;
}
/*END Main- Breif*/

/*Start Main- Education*/
main h2{
    text-align: center;
    color: #969393;
    padding-bottom: 80px;
}
.education {
    transition: 1s ease-in-out;
}
.education .row{
    position: relative;
    left: 10%;
}
.education .row button{
    background: linear-gradient(179deg, #813580, #a19f9f,#323030);
    font-size: 20px;
    height: 40px;
    width: 120px;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
}
.education .row button:hover{
    box-shadow: 0 5px 50px 0 #813580 inset, 0 5px 50px 0 #813580,
    0 5px 50px 0 #813580 inset, 0 5px 50px 0 #813580;
    text-shadow: 0 0 5px #813580;
    border: none;
}
/*END Main- Education*/

/*START Main- Recent Projects*/
main .recent-projects{
    transition: 1s ease-in-out;
}
main .recent-projects .row{
    margin-bottom: 100px;
}
main .recent-projects .project{
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 400px;
    cursor: pointer;
}
main .recent-projects .project .img{
   position: relative;
   width: 100%;
   height: 100%;
}
main .recent-projects .project1 .img{
    background: url('../images/project1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}
main .recent-projects .project2 .img{
    background: url('../images/project2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}
main .recent-projects .project3 .img{
    background: url('../images/project3.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}
main .recent-projects .project4 .img{
    background: url('../images/project4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}
main .recent-projects .project5 .img{
    background: url('../images/project5.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}
main .recent-projects .project6 .img{
    background: url('../images/project6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
}
main .recent-projects .overlay{
    position: absolute;
    top: 0;
    left: 14px;
    width: 92.5%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
main .recent-projects .overlay2{
    position: absolute;
    top: 0;
    left:-150%;
    width: 120%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    transform: skewX(-30deg);
    transition: 0.5s;
}
main .recent-projects .project:hover .overlay2{
    left: -10%;
}
main .recent-projects .text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    color: black;
    box-sizing: border-box;
    padding: 25px;
    z-index: 1000;
    text-shadow: 5px 5px 10px black;
}
main .recent-projects .text h3{
    line-height: 1.2;
    opacity: 0;
    transform: translateY(-10px);
    transition: .5s;
    transition-timing-function: linear;
    color: #fff;
    margin-top: 20px;
   }
main .recent-projects .project:hover .text h3{
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.6s;
}
main .recent-projects .project .text h3:before,
main .recent-projects .project .text h3:after{
    content:'';
    width: 0%;
    height: 0%;
}
main .recent-projects .text p{
    line-height: 1.2;
    opacity: 0;
    transform: translateY(10px);
    transition: .5s;
    transition-timing-function: linear;
    color: #fff;
    margin-top: 20px;
  }
  main .recent-projects .project:hover .text p
  {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1.7s;
  }
  main .recent-projects .project .text a{
    color: #e809e5;
    font-size: 20px;
    font-weight: bolder;
    text-decoration: none;
  }
/*END Main Recently-Projects*/

/*START Main-Experiances*/
.experiances{
    margin-bottom: 100px;
    transition: 1s ease-in-out;
}
.experiances .experiances-container{
    height: 200px;
    background: gray;
    border-radius: 20px;
    text-align: left;
    padding: 20px;
    font-size: 20px;
}
.experiances .experiances-container p{
    margin-top: 10px;
    font-size: 13px;
}
.experiances .experiances-container a{
    color: blue;
}
/*END Main-Experiances*/

/*Start Common Main sections' properties*/
.education,
.recent-projects{
    margin-top: 50px;
}
.education h2:before,
.education h2:after,
.recent-projects h2:before,
.recent-projects h2:after,
.experiances h2:before,
.experiances h2:after
{
    content: "";
    width: 400px;
    height: 1px;
    background-color: #c8c5c5;
    display: inline-block;
}
.education h2:before,
.recent-projects h2:before,
.experiances h2:before{
    margin-right: 20px;
}
.education h2:after,
.recent-projects h2:after,
.experiances h2:after{
    margin-left: 20px;
}
.education .row,
.recent-projects .row,
.experiances .experiances-container{
    position: relative;
    left: 3%;
}
/*END Common Main sections' properties*/
/*END MAIN*/

/*START FOOTER*/
footer{
    margin-top: 50px;
}
footer h3{
    margin-bottom: 60px;
}
footer p{
    font-size: 15px;
}
footer .contact{
    transition: 1s ease-in-out;
}
footer .follow-me{
    text-align: center;
    transition: 1s ease-in-out;
}
footer .follow-me a{
    text-decoration: none;
}
footer .follow-me a:first-of-type{
    margin-right: 30px;
}
footer .follow-me .github{
    color: black;
    transition: .75s all ease-in-out;
}
footer .follow-me .github:hover{
    color: #bd2c00;
}
footer .follow-me .linkedin{
    color: white;
    width: 100px;
    transition: .75s all ease-in-out;
}
footer .follow-me .linkedin:hover{
    color: #00a0dc;
}
footer .qoute{
    height: 260px;
    margin-bottom: 30px;
}
footer .qoute .first-qoute {
    position: relative;
    top: 20%;
}
footer .qoute .second-qoute {
    position: relative;
    top: 30%;}
footer .qoute p{
    margin-top: 10px;
}
/*The Bottom Footer*/
footer .footer-left{
    float: left;
}
footer .footer-right{
    float: right;
}
footer .footer-right .right-p{
    text-align: right;
}
/*END FOOTER*/

/***** Skills Page****/
.video{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.2;
}
.my-skills-h1{
    color: white;
    text-align: center;
    margin-bottom: 100px;
    margin-top: 50px;
}
.skills{
    background-color: #393838;
    border-radius: 30px;
    opacity: 0.8;
}
.skills .technical-skills,
.skills .soft-skills,
.skills form{
    padding: 30px 50px;
}
.skills  h2{
    color: white;
    text-align: left;
}
.skills .technical-skills .html5,
.skills .technical-skills .css3,
.skills .technical-skills .github,
.skills .soft-skills .team-work,
.skills .soft-skills .searching,
.skills .soft-skills .time-mangment,
.skills .soft-skills .presentaion,
.skills form
{
    margin-bottom: 40px;
    margin-left:20px
}
.skills label{
    margin-right: 10px;
    margin-bottom: 20px;
}
.skills .progress{
    width: 70%;
    height: 20px;
}
form h2{
    padding-bottom: 60px;
}
form .form-input{
    width: 70%;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
}
form .form-input-date{
    width: 50%;
    height: 50px;
    border-radius: 20px;
    padding: 20px;
}
form .form-group{
    margin: 40px 0;
}
form label{
    margin-right: 15px;
}
form .label{
    font-size: 20px;
}
/************************* MEDIA QUERY *************************/
/*Navbar Media Query*/
.navbar-nav{
    position: absolute;
    right: 20px;
}
@media (max-width: 640px) {
  
    .container-nav {
      flex-direction: column;
      text-align: center;
    }
  
    nav ul {
      flex-direction: column;
      float: none;
    }
  
    nav li {
      margin: 0.8em 0;
    }
  }
@media screen and (min-width:993px) and (max-width:1300px){
    header .container{
        left: 4%;
        top: 26%;
    }
    .education h2:before,
    .education h2:after,
    .recent-projects h2:before,
    .recent-projects h2:after,
    .experiances h2:before,
    .experiances h2:after
{
    width: 200px;

}}
@media screen and (min-width:701px) and (max-width:992px) {
    header .container{
        left: 8%;
        top: 9%;
    }
    .education h2:before,
    .education h2:after,
    .recent-projects h2:before,
    .recent-projects h2:after,
    .experiances h2:before,
    .experiances h2:after
{
    width: 200px;

}
    main .recent-projects .row{
        margin-bottom: 0;
    }
    main .recent-projects .project3,
    main .recent-projects .project6{
        margin: 40px auto;
    }
    footer .qoute{
        margin: 20px auto;
    }
}
@media screen and (min-width:540px) and (max-width:700px) {
    header .container{
        left: 3%;
        top: 70%!important;
    }
    main .recent-projects .project{
    height: 500px;
    width: 98%;
    }
    .experiances .experiances-container{
        height: 250px !important;
    }

    .recent-projects .project.overlay{
        left: 0px;
        width: 97%;
    }
}
@media screen and (min-width:256px) and (max-width: 550px) {
    header .container-fluied{
        width: 100%;
    }
    header .container{
        left: 3%;
        top: 60%;
    }
    .education h2:before,
    .recent-projects h2:before,
    .experiances h2:before{
        margin-right: 0px;
        width: 100%;
    }
    .education h2:after,
    .recent-projects h2:after,
    .experiances h2:after{
         margin-left: 0px;
         width: 100%;
    }
    .education .col-lg-6{
        margin-bottom: 60px;
    }
    .recent-projects .row:first-of-type{
        margin-bottom: 0 !important;
    }
    .recent-projects .project{
        padding-left: 0;
        margin-bottom: 20px;
        height: 400px;
    }
    .recent-projects .project .overlay{
        left: 0px;
        width: 97%;
    }
    .experiances .experiances-container{
        left: 0;
        height: 380px;
    }
    footer{
        text-align: center;
    }
    footer .contact,
    footer .follow-me,
    footer .qoute{
        margin-bottom: 50px;
    }
    footer .footer-left,
    footer .footer-right{
        float: none;
    }
    footer .footer-right .right-p{
        text-align: center;
    }
}
@media screen and (max-width:350px){
    header .container{
        top: 72%;
    }
}